,#<Bool reg_48_2_64{UNINITIALIZED}[31:0] * reg_48_2_64{UNINITIALIZED}[31:0] <=s 0x9>#<BV32 0x4>,#<Bool reg_48_2_64{UNINITIALIZED}[31:0] * reg_48_2_64{UNINITIALIZED}[31:0] >s 0x9>#<Bool reg_20_4_64{UNINITIALIZED}[31:0] * reg_40_3_64{UNINITIALIZED}[31:0] >s 0x63>#<BV32 0x4>,#<Bool reg_48_2_64{UNINITIALIZED}[31:0] * reg_48_2_64{UNINITIALIZED}[31:0] >s 0x9>#<Bool reg_20_4_64{UNINITIALIZED}[31:0] * reg_40_3_64{UNINITIALIZED}[31:0] <=s 0x63>#<BV32 0x1>